* {
  margin: 0;
  padding: 0;
  color: #34373f;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 6% 15px 0;
  background-color: #34373f;
}

header h1 {
  padding-left: 10px;
  padding-right: 5px;
  background-color: #8ccbcb;
  align-items: center;
  
  }

header h1 a img {
   padding-top: 9px;
}



nav ul {
  display: flex;
  margin-right: 25px;
  margin-left: 5px;
  list-style-type: none;
}

nav ul li a {
  display: flex;
  margin-right: 25px;
  margin-left: 5px;
  color: #8ccbcb;
}

hero {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-right: 15px;
  padding-bottom: 10px;
  font-weight: bolder;
  background-image: url("./james-lee.jpg");
  height: 150px;
  background-size: cover;
  background-position: center;
}
hero p {
  display: inline;
  color: #8ccbcb;
}

/* About Me */
section {
  height: 80%;
  background-color: #8ccbcb;
}

section div {
  font-size: xx-large;
  padding-left: 15px;
}

section p {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-image: url("./sunsetplane.jpeg");
  background-position: top;
  background-size: cover;
  padding: 1%;
  height: auto;
}

/* Work Examples */
main {
  background-color: #8ccbcb;
}

article main {
  background-color: #ecedf5;
  display: flex;
  height: auto;
  border: 5px;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

article figure {
    display: inline;
    background-color:#ecedf5;
   
}

article main a {
    align-items: center;
    height: 90%;
    border-width: 6px;
    border-style: solid;
    border-color: #8ccbcb;
}

article figure img {
    flex-direction: row;
    height: 90%;
    border-width: 6px;
    border-style: solid;
    border-color: #93cb8c;
}

article div h2 {
  background-color: #8ccbcb;
  font-size: 48px;
  padding-left: 15px;
}

footer {
  display: inline;
  color: black;
}

footer div {
  background-color: #3f343d;
  color: #8ccbcb;
}

footer div h2 {
  color: #8ccbcb;
  text-align: center;
}

footer ul a {
  
  background-color: #ecedf5;
  
 }

footer div ul {
  border-bottom: #34373f 6px solid;
  text-align: center;
  background-color: #ecedf5;
}

li.contactlinks {
  display: inline;
  padding: 25px;
  font-size: larger;
  font-weight: bolder;
}
